@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.lalezar{
    font-family: "Lalezar", system-ui;
}

.montes{
    font-family: "Montserrat", sans-serif;
}

.opensans{
    font-family: "Open Sans", sans-serif;
}

.nav .active{
    @apply font-semibold
}

.nav .active::after{
    content: "";
    height: 4px;
    width: 100%;
    background: #FFE047;
    position: absolute;
    bottom: -20px;
}